<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace는 dao implements 의 namespace에 명시해둔 namespace와 동일해야하며, dao interface 파일의 경로임.(확장자 제외) -->
<mapper namespace="com.example.s3testing.repository.dao.ImageRoomDao">

<!-- id에는 사용되는 dao 메서드 명을 넣는다 -->
    <insert id="uploadImage" parameterType="ImageRoom">
        INSERT INTO image_room
            (image_url, room_id)
        VALUES
            (#{imageUrl}, #{roomId})
    </insert>

</mapper>
